.header{
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    list-style: none;
}
.header p {
    margin: 20px;
}
/* Este css debe ser sólo para los flexbox ya que los colores se le dan desde el componente */